
* {
    font-family: 'Poppins', sans-serif;
    -moz-osx-font-smoothing: grayscale; 
    -webkit-font-smoothing: antialiased;
    scroll-behavior: smooth;
}

.on {
    display: block;

}
.off {
    display: none;
}

h1,h2,h3,h4,h5 {
    color: #fafafa;
    
}

a:visited {
    text-decoration: none;
}

section {
    padding-top: 55px;
    background: #06111E;
    min-height: 330px;
    width: 100%;
    text-align: center;
}
.section--title {
    
    margin-bottom: 30px;
    font-size: 35px;
    color: #fafafa;
    text-align: center;
}

p {
    color: #fafafa;
    font-weight: 300;
    font-size: 14px;
    text-align: center;
}