#contacto {
    background: #121D29;
    width: 100%;
    height: 500px;
    padding-top: 55px;
    text-align: left;
}

.form-contacto label, input {
    color: #fafafa;
}

button[type="submit"] {
    display: block;
    margin: 0px auto 0px auto;
    background-color: #FF6C2B;
    color: #fafafa;
    font-weight: 500;
}

button[type="submit"]:hover {
    border: 2px solid #FF6C2B;
    color: #FF6C2B;
    background:#121D29;
    
}
.form-contacto {
    max-width: 650px;
    margin-left: auto;
    margin-right: auto;
}

