nav {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding-top: 15px;
}
.navbar {
    text-decoration: none;
    list-style: none;
}
.opc-menu {
    margin-right: 25px;
}

.icon {
    width: 16px;
}
a {
 color: #fff !important;
}


a:link {
    text-decoration: none;
    font-size: 16px;
    color: #fff;
}

a:focus {
    color: red !important;
}

a:hover {
    color: red !important;
}

a:active {

}