nav {
    background: #121D29;
}

.nav {
    
    padding-left: 12px !important;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 20px;
    
}

.navbar-custom {
    display: flex;
    list-style: none;
}
.opc-menu {
    margin-right: 25px;
}

.icon {
    width: 16px;
}

a {
 color: #f2f4f7 !important;
}


a:link {
    text-decoration: none;
    font-size: 16px;
    color: #f2f4f7;
}

a:focus {
    color:#FF6C2B !important;
}

a:hover {
    color: #FF6C2B !important;
}

/* responsive menu */

.btn_menu {
    margin-right: 30px;
    width: 25px;
    cursor: pointer;
    display: none;
   
}
.btn_menu img {
    width: 25px;
}
ul.show {
    top: 56px;
    left: 0;
}
@media screen and (max-width: 990px) {
    
    .btn_menu {
        display: inline-flex;
    }
    .navbar-custom {
        
        position: fixed;
        top: 55px;
        left: 0;
        width: 100%;
        height: calc(100vh - 55px);
        background: #06111E;
        top: -100vh;
        text-align: center;
        transition: all .4s;
        flex-direction: column;
    }
    .opc-menu {
        margin-top: 20px;
        padding-bottom: 15px;
        border-bottom: 1px solid #FF6C2B;
    }
    .redes-sociales {
        display: none;
    }
    
}